div(
  ng-color-history="history"
  ng-color-history-src="color"
)
  ng-colormap(model="color")
  ng-colorhue(model="color")
  ng-rgba-colorcode(model="color")
  ng-colorhex(model="color")
  ng-colorbox(
    model="color"
    width="158"
    height="158"
  )
  ng-colorbox-group(
    model="history"
    limit="10"
  )
